<?xml version="1.0"?>

<!--
  ~  * @category Magento-2 UserWay Widget Module
  ~  * @package Userway_Widget
  ~  * @copyright Copyright (c) 2021
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="userway_preferences_listing_data_source" xsi:type="string">Userway\Widget\Model\ResourceModel\Preferences\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
