<?xml version="1.0"?>

<!--
  ~ @category Magento-2 UserWay Widget Module
  ~ @package Userway_Widget
  ~ @copyright Copyright (c) 2021
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Userway_Widget" setup_version="1.0.4" />
</config>
